@model Insuranceclaim.Models.Claim

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Claim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionOfClaim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionOfClaim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdjusterNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdjusterNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdjusterApprovalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdjusterApprovalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminApprovalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminApprovalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adjuster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adjuster.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Policy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Policy.PolicyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyHolderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyHolderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClaimId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
